# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3


# Virtual Environments
venv/
.env/
.env.bak/
env/


# IDEs
.vscode/
.idea/
*.iml


#specific files
utils/modal_client.py
utils/modal_ocr.py

# OS
.DS_Store
Thumbs.db



#others
VISION_CREDS.json
.env
extra_env.txt
