--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.1+cpu
python-doctr
fastapi
google-genai
certifi
uvicorn
transformers
numpy==1.26.4
pyparse
python-dotenv
Pypdf2
pymupdf
pdf2image==1.16.0
google-cloud-vision
python-multipart
opencv-python-headless>=4.8.0,<4.12.0
openai
psutil
pillow
python-docx
