python-doctr[torch]
fastapi
google-genai
certifi
uvicorn
transformers
numpy>=2.0.0,<2.3.0
pyparse
python-dotenv
Pypdf2
pymupdf
pdf2image==1.16.0
poppler-utils
google-cloud-vision
python-multipart
torch
opencv-python-headless>=4.8.0,<4.12.0
openai
psutil
pillow
python-docx
