python-doctr[viz,html,contrib]
modal
fastapi
certifi
uvicorn
transformers
torch
numpy
pyparse
layoutparser[cv]
python-dotenv
Pypdf2
pymupdf
google-cloud-vision
python-multipart
camelot-py
tabula-py
opencv-python-headless
openai
pillow
python-docx
